body {
    background-color: #5B5B5B;
    line-height: 1.8;
}


#project {
    padding: 135px 0;
    color: #ffffff;
    overflow-x: hidden;
}

.main_title {
    margin: 0 auto;
}


/*intro */
.intro {
    display: flex;
    position: relative;
    margin-top: 125.09px;
    gap: 120px;
}

.intro .pixel_1 {
    position: absolute;
    top: 122.34px;
    left: -295px;
}

.intro .sub_title {
    position: absolute;
    top: -50px;
    right: -102px;
}

.intro .intro_des {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.intro .intro_des .des2 {
    padding: 170px 0 29px;
    display: flex;
    gap: 62px;
}

.intro .intro_des h4 {
    font-size: 24px;
    font-weight: 700;
}

.intro .intro_des p {
    font-size: 20px;
    font-weight: 400;
    padding-top: 6px;
}

.intro .intro_des .des2 h4,
.intro .intro_des .des3 h4 {
    font-size: 20px;
}

/*content1*/
.content1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1514.55px;
    gap: 148px;
    margin-top: 200px;
}

.project_title {
    font-size: 24px;
    font-weight: 700;
    color: #EAF884;
    padding-bottom: 16px;
}

.project_des {
    font-size: 18px;

}

/*content2*/
.content2 {
    margin-top: 200px;
    position: relative;
}

.content2 .video_box {
    width: 1186px;
    height: 488.36px;
    overflow: hidden;
}

.content2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content2 .cat_wrap {
    position: absolute;
    top: -106px;
    left: 300px;
}

.content2 .cat1-1,
.content2 .cat1-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.content2 .cat1-2 {
    opacity: 0;
}

/* 호버 시 걷는 고양이 숨김 */
.content2 .cat_wrap:hover .cat1-1 {
    opacity: 0;
}

/* 호버 시 놀란 고양이 표시 */
.content2 .cat_wrap:hover .cat1-2 {
    opacity: 1;
    animation: catSurprise 0.9s cubic-bezier(.17, .89, .32, 1.49);
}

@keyframes catSurprise {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scaleY(0.9) scaleX(1.1);
    }

    30% {
        transform: translateY(-80px) rotate(-10deg);
    }

    50% {
        transform: translateY(-40px) rotate(10deg);
    }

    70% {
        transform: translateY(-50px) rotate(-5deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.content2 .pixel_2 {
    position: absolute;
    top: 380px;
    right: 590px;
}

/*content3*/
.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 265px;
    margin-top: 200px;
    position: relative;
}

.content3 .cat_wrap img {
    position: absolute;
    bottom: -10px;
    right: -25px;
}

.cat3-1:hover {
    opacity: 0;
}

/*content4*/
.content4 {
    margin-top: 200px;
    position: relative;
}

.pixel_3 {
    position: absolute;
    top: -63px;
    left: -21px;
}

.pixel_4 {
    position: absolute;
    top: 50%;
    right: -300px;
    transform: translateY(-50%);
}

/*content5*/
.content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 185px;
    margin-top: 200px;
    position: relative;
}

.tree {
    position: absolute;
    bottom: 0;
    left: 505px;
}

.bubble1 {
    position: absolute;
    top: -52px;
    right: 119px;
}

.bubble2 {
    position: absolute;
    top: 19px;
    right: -24px;
}

.bubble3 {
    position: absolute;
    top: 95px;
    right: 71px;
}

.bubble4 {
    position: absolute;
    top: 166px;
    right: -17px;
}

/*content6*/
.content6 {
    display: flex;
    align-items: flex-end;
    gap: 64px;
    width: 1435px;
    margin-top: 200px;
    position: relative;
}

.cat6-1 {
    position: absolute;
    bottom: -78px;
    left: 112px;
    z-index: 10;
}

.cat6-2 {
    position: absolute;
    bottom: -200px;
    left: 112px;
    opacity: 0;
}

.cat6-1:hover+.cat6-2 {
    opacity: 1;
}

.cat6-1:hover {
    opacity: 0;
}

/*content7*/
.content7 {
    display: flex;
    justify-content: right;
    margin-top: 75px;
    position: relative;
}

.pixel_5 {
    position: absolute;
    top: -63px;
    right: 60;
}


/*ani*/
.ani {
    text-align: center;
    position: relative;
}



.ani p {
    font-size: 32px;
    font-weight: 700;
    border-right: #ffffff solid 1.5px;
    padding: 15px 30px;
}

.ani span {
    font-weight: 400;
}

.ani .text_box2 {
    display: flex;
    width: max-content;
    animation: animation 20s linear infinite;
    border-bottom: #ffffff solid 1.5px;
    border-top: #ffffff solid 1.5px;
}

.ani>.text_box>.text_box2>div {
    display: flex;
}

.ani>.text_box>.text_box2>div>p {
    background-color: inherit;
}

.ani>.text_box>.text_box2>div>p:hover {
    background-color: #C4D92D;
}

@keyframes animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ani .text_box {
    overflow: hidden;
    margin-top: 200px;

}


/*content8*/
.content8 {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: right;
    margin-right: 213px;
    margin-top: 200px;
    position: relative;
}

.content8 .img_right {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-bottom: 18px;
}

.content8 p {
    text-align: right;
    padding-top: 10px;
    color: #A7A7A7;
}

.cat_7 {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*content9*/
.content9 {
    margin-top: 200px;
    position: relative;
}

.content9 .container {
    display: flex;
    flex-wrap: wrap;
    width: 935px;
    gap: 17px;
    align-items: flex-start;
    margin-left: 213px;
}

.content9 .text_box {
    align-self: flex-end;
}

.content9 p {
    color: #A7A7A7;
}

.pixel_6 {
    position: absolute;
    bottom: 220px;
    right: 0;
}

/*credits*/
.credits {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 200px;
    position: relative;
}
.credits>div{margin-top: 5px;}


.credits .name {
    width: 185px;
}

.credits .des {
    width: 225px;
}

 table {
    border-top: 1px solid #ffffff;
    font-size: 16px;
    padding-top: 10px;
}
.credits h1{font-size: 64px;
    font-family: 'MonaS12';
    font-weight: 700;
    line-height: 1;
}

.credits th {
    width: 248px;
    vertical-align: top;
}
.credits td{
    padding-bottom: 10px;
}
.PROJECT_TEAM{padding-bottom: 68px;}
.cat_8{position: absolute;
top: -85px;
right: 20px;}